{# Contextual navigation template. #}

{% if primary_nav %}
  <nav class="contextual-nav" aria-label="Contextual menu">

    {% for item in items %}
      {% if item.current or item.current_item_parent %}
        <ul>

          <li class="{{ item.classes | join(' ') }}">
            <a href="{{ item.link }}">{{ item.title }}</a>
          </li>

          {% for child in item.children %}
            <li class="{{ child.classes | join(' ') }}">
              <a href="{{ child.link }}">{{ child.title }}</a>
            </li>
          {% endfor %}

        </ul>
      {% endif %}
    {% endfor %}

  </nav>
{% endif %}
