{# Global site header template. #}

<head>
  <title>
    {% if title %}{{ title }} | {% endif %}
    {{ site.title }}
  </title>

  <meta charset="{{ site.charset }}" />
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href='https://DOMAIN' />
  <link rel='shortlink' href='https://DOMAIN' />
  {{ function( 'wp_head' ) }}
</head>
