{# Search template. #}

{% extends 'layout/base.twig' %}

{% block content %}

  <main>
    {% if posts|length > 0 %}
      <h1>Search results for "{{ function( 'get_search_query' ) }}"</h1>

      <ul>
        {% for post in posts %}
          <li class="search-item">
            <h2>
              <a href="{{ post.link }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.content | striptags | slice( 0, 500 ) }}...</p>
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <h1>No search results</h1>
      <p>Sorry, no search results were found for "{{ function( 'get_search_query' ) }}"</p>

    {% endif %}
  </main>

{% endblock %}
